asgiref
certifi
cffi
charset-normalizer
cryptography
Deprecated
Django
django-cors-headers
django-oauth-toolkit
djangorestframework
idna
jwcrypto
oauthlib
psycopg2-binary
pycparser
pytz
requests
sqlparse
typing_extensions
tzdata
urllib3
wrapt
